{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

    p, form {
        padding-top: 30px;
        padding-left: 30px;
    }

    body {
        background-color: beige;
    }
    
</style>

<p>Are you sure you want to delete "{{task}}"?</p>



<form action="" method="POST">
    {% csrf_token %}
    <a class = "btn btn-sm btn-info" href="{% url 'list' %}">Cancel</a>
    <input class = "btn btn-sm btn-success" type="submit" name="Confirm">
</form>